/* GENERAL */
:root {
  --blue: rgb(78, 179, 237);
  --dark-orange: rgb(218, 100, 3);
}
html {
  font-family: sans-serif;
}
body {
  margin: 0;
}
/* HEADER */
.main-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--blue);
  height: 100px;
  padding: 0 15px;
}
.main-bar__title {
  font-size: 1.5rem;
  margin: 0;
  display: flex;
  align-items: center;
}
.main-bar__navigation {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-bar__navigation ul {
  margin: 0;
}

.main-bar__navigation li {
  display: inline;
  list-style: none;
  margin-left: 5px;
  font-size: 0.9rem;
}
/* SECTION */
.second-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  background-color: var(--dark-orange);
  padding: 0 15px;
}
