/* GENERAL */
:root {
  --blue: rgb(78, 179, 237);
  --dark-orange: rgb(218, 100, 3);
  --light-orange: rgb(224, 127, 49);
}
html {
  font-family: sans-serif;
}
body {
  margin: 0;
}
/* WRAP */
.main-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
/* HEADER */
.main-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--blue);
  height: 100px;
  padding: 0 15px;
}
.main-bar__title {
  font-size: 1.5rem;
  margin: 0;
  display: flex;
  align-items: center;
}
.main-bar__navigation {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-bar__navigation ul {
  margin: 0;
}

.main-bar__navigation li {
  display: inline;
  list-style: none;
  margin-left: 5px;
  font-size: 0.9rem;
}
/* SECTION */
.second-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  background-color: var(--dark-orange);
  padding: 0 15px;
}

/* LAST SECTION */
.main-content {
  background-color: var(--light-orange);
  min-height: 100%;
  display: flex;
  flex: 1;
}
.main-content ul {
  width: 100%;
  padding: 0 15px;
  margin-top: 5%;
}
.main-content li {
  background-color: var(--light-orange);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3%;
}
.main-content__left {
  display: flex;
  align-items: center;
}
.main-content__right {
  display: flex;
  align-items: center;
}
.main-content__left span {
  margin-left: 10px;
}
.main-content__right span {
  margin-right: 10px;
}
