:root {
  --blue: rgb(78, 179, 237);
}
html {
  font-family: sans-serif;
}
body {
  margin: 0;
}
.main-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: var(--blue);
  height: 100px;
}

.main-bar__title {
  font-size: 1.5rem;
}

.main-bar__navigation {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-bar__navigation ul {
  margin: 0;
}

.main-bar__navigation li {
  display: inline;
  list-style: none;
  margin-left: 5px;
  font-size: 0.9rem;
}
